/* --- Variables  pour le thème --- */
:root {
  --couleur-fond: #ffffff;
  --couleur-texte: #0f0f0f;
  --couleur-accent: #000000;
  --fond-carte: #f4f4f5;
  --couleur-bordure: #e4e4e7;
  --sous-texte: #52525b;
}

[data-theme="dark"] {
  --couleur-fond: #050505;
  --couleur-texte: #ffffff;
  --couleur-accent: #ffffff;
  --fond-carte: #121212;
  --couleur-bordure: #27272a;
  --sous-texte: #a1a1aa;
}

/* --- Proprietes de base --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

a,
li,
ul,
ol {
  list-style: none;
  text-decoration: none;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--couleur-fond);
  color: var(--couleur-texte);
  line-height: 1.6;
  overflow-x: hidden;
}

/* ------------------ */
/* --- Navigation --- */
/* -------------------*/

.barre-navigation {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(var(--couleur-fond), 0.8);
  backdrop-filter: blur(10px); /* flou au niveau du header lors du scroll */
  z-index: 1000;
  border-bottom: 1px solid transparent;
}

.logo {
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: -1px;
}

.point {
  color: var(--sous-texte);
}

.liens-navigation {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.liens-navigation a {
  text-decoration: none;
  color: var(--couleur-texte);
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.liens-navigation a:hover {
  opacity: 1;
}

#bouton-theme {
  background: none;
  border: none;
  color: var(--couleur-texte);
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 50%;
  transition: transform 0.3s;
}

#bouton-theme:hover {
  transform: rotate(15deg);
}
/* -------------------- */
/* ---  Accueil ------ */
/* ------------------ */
.banniere-accueil {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  position: relative;
}

h1 {
  font-size: clamp(2.5rem, 8vw, 5rem);
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -2px;
  margin-bottom: 1.5rem;
}

.texte-degrade {
  color: transparent;
  -webkit-text-stroke: 1px var(--couleur-texte);
  position: relative;
}

[data-theme="light"] .texte-degrade {
  -webkit-text-stroke: 1px #000;
}

.banniere-accueil p {
  max-width: 600px;
  margin: 0 auto 2.5rem;
  color: var(--sous-texte);
  font-size: 1.1rem;
}

.groupe-boutons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.bouton {
  padding: 0.8rem 2rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.bouton-principal {
  background-color: var(--couleur-accent);
  color: var(--couleur-fond);
}

.bouton-secondaire {
  border: 1px solid var(--couleur-bordure);
  color: var(--couleur-texte);
}

.bouton:hover {
  transform: translateY(-3px);
}
/* --------------- */
/* --- Scroll---- */
/* --------------*/
.apparition {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.apparition.actif {
  opacity: 1;
  transform: translateY(0);
}

.delai-1 {
  transition-delay: 0.1s;
}
.delai-2 {
  transition-delay: 0.2s;
}
.delai-3 {
  transition-delay: 0.3s;
}

/* ------------------------------ */
/* --- Indicateur Défilement --- */
/* ---------------------------- */

.indicateur-defilement {
  position: absolute;
  bottom: 2rem;
  color: var(--sous-texte);
  font-size: 1.5rem;
}

.rebond {
  display: inline-block;
  animation: rebond 2s infinite;
}

@keyframes rebond {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* --- Projets --- */

.section-page {
  padding: 6rem 1rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.titre-section {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
  letter-spacing: -1px;
}

.grille-projets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.carte-projet {
  background: var(--fond-carte);
  border: 1px solid var(--couleur-bordure);
  border-radius: 1.5rem;
  padding: 2rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.carte-projet:hover {
  transform: scale(1.02);
  border-color: var(--couleur-texte);
}

.titre-carte {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  color: var(--sous-texte);
  text-transform: uppercase;
  font-weight: 700;
}

.carte-projet h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.carte-projet p {
  color: var(--sous-texte);
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
}

.stack-used {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.stack-used span {
  font-size: 0.75rem;
  padding: 0.3rem 0.8rem;
  border: 1px solid var(--couleur-bordure);
  border-radius: 20px;
}

/* Liens pour voir les projets */

.lien-power-of-memory {
  margin-top: 5%;
  margin-left: 1%;
}

.lien-power-of-memory a {
  color: var(--couleur-texte);
  text-decoration: none;
  position: relative;
  font-weight: 700;
  padding-bottom: 2px;
}

.lien-power-of-memory a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--couleur-texte);
}

.lien-penthouse {
  margin-top: 5%;
  margin-left: 1%;
}

.lien-penthouse a {
  color: var(--couleur-texte);
  text-decoration: none;
  position: relative;
  font-weight: 700;
  padding-bottom: 2px;
}

.lien-penthouse a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--couleur-texte);
}

.lien-escape {
  margin-top: 5%;
  margin-left: 1%;
}

.lien-escape a {
  color: var(--couleur-texte);
  text-decoration: none;
  position: relative;
  font-weight: 700;
  padding-bottom: 2px;
}

.lien-escape a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--couleur-texte);
}

/* --- Footer --- */
footer {
  text-align: center;
  padding: 5rem 1rem;
  border-top: 1px solid var(--couleur-bordure);
}

.lien-email {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--couleur-texte);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
  display: inline-block;
  margin-top: 1rem;
}

.lien-email:hover {
  border-bottom: 2px solid var(--couleur-texte);
}

.mail {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  padding: 10px 20px; /* Espace autour du texte pour créer le bandeau */
  display: inline-block;
  font-size: 1.5rem;
}

.rs {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.rs a {
  color: var(--couleur-texte);
  font-size: 1.1rem;
  font-weight: 600;
  transition: transform 0.3s;
}

.rs a:hover {
  transform: scale(1.1);
}

.rs img {
  border-radius: 10px;
}

.droits-auteur {
  font-size: 0.8rem;
  color: var(--sous-texte);
}
